<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>🐸 Ribbit</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-800 text-gray-100">
        <header class="bg-gray-900">
            <nav
                class="mx-auto flex max-w-6xl items-center justify-between px-4 py-6"
            >
                <div class="flex-grow">
                    <a href="/" class="text-xl font-bold text-indigo-400"
                        >🐸 Ribbit</a
                    >
                </div>

                <ul
                    class="hidden md:flex md:flex-grow md:items-center md:justify-center md:space-x-4"
                >
                    <li>
                        <a href="/new-url" class="hover:text-indigo-300"
                            >Shorten</a
                        >
                    </li>
                    <li>
                        <a href="/about" class="hover:text-indigo-300">About</a>
                    </li>
                </ul>

                <div class="flex items-center space-x-4">
                    {{if .IsLoggedIn}}
                    <span class="mr-4">Welcome, {{.Username}}</span>
                    <form action="/auth/logout" method="POST" class="inline">
                        <button
                            type="submit"
                            class="rounded bg-red-600 px-3 py-1 text-white hover:bg-red-700"
                        >
                            Sign Out
                        </button>
                    </form>
                    {{else}}
                    <a
                        href="/login"
                        class="rounded bg-blue-500 px-3 py-1 text-white hover:bg-blue-700"
                        >Login</a
                    >
                    <a
                        href="/signup"
                        class="rounded bg-green-500 px-3 py-1 text-white hover:bg-green-700"
                        >Signup</a
                    >
                    {{end}} {{template "partials/search" .}}
                </div>
            </nav>
        </header>
    </body>
</html>
