<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About Ribbit</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
        <style>
            .github-badge {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 20px;
            }
            .github-badge img {
                width: 32px;
                height: 32px;
            }
        </style>
    </head>

    <body>
        <div>{{template "partials/header"}}</div>
        <header>
            <h1>About Ribbit</h1>
        </header>
        <main>
            <p>
                Ribbit is a simple yet powerful URL shortener designed to make
                sharing long URLs more convenient and trackable. Built with
                modern web technologies, Ribbit offers fast and reliable service
                for both personal and professional use.
            </p>
            <p>
                Whether you're looking to clean up links for social media
                sharing or need a way to track how your links perform, Ribbit
                has you covered. Our easy-to-use platform ensures that your
                links are both manageable and monitorable.
            </p>

            <div class="github-badge">
                <img
                    src="https://icons.getbootstrap.com/assets/icons/github.svg"
                    alt="GitHub Logo"
                />
                <a href="https://github.com/nedinator/rbbt" target="_blank"
                    >Check out the project on GitHub</a
                >
            </div>
        </main>
    </body>
</html>
