<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>🐸Ribbit - Blog</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
        <style>
            .container {
                margin: 2rem;
            }
        </style>
    </head>
    <body>
        {{template "partials/header" .}}
        <div class="container">
            <main>
                <div>
                    {{range .Posts}}
                    <div>{{.}}</div>
                    {{end}}
                </div>
            </main>
        </div>
    </body>
</html>
