<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login - Ribbit</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
    </head>
    <body>
        <div class="container">
            {{template "partials/header" .}}
            <h1>Login</h1>
            <form action="/auth/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required />

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />

                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
