<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Submit a Link</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
    </head>
    <body>
        <div>{{template "partials/header"}}</div>
        <main>
            <h1 style="padding-left: 20px">Submit a New Link</h1>
            <form action="api/new-url" method="POST" style="padding-left: 20px">
                <label for="longUrl">Long URL:</label>
                <input type="url" id="longUrl" name="longurl" required />
                <button type="submit">Shorten</button>
            </form>
        </main>
    </body>
</html>
