<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>🐸Ribbit - Statistics</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
    </head>
    <body>
        <main>
            <div>{{template "partials/header"}}</div>
            <section>
                <h2>Stats</h2>
                <p><strong>Long URL:</strong> {{.LongUrl}}</p>
                <p>
                    <strong>Short URL:</strong>
                    <a href="{{.ShortUrl}}" target="_blank">{{.ShortUrl}}</a>
                </p>
                <p><strong>Clicks:</strong> {{.Clicks}}</p>
                <p><strong>Created At:</strong> {{.CreatedAt}}</p>
            </section>
            <div>
                <a
                    href="http://127.0.0.1:3000/stats/{{.ShortId}}"
                    target="_self"
                    >♻️Refresh this page</a
                >
            </div>
        </main>
    </body>
</html>
