<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>🐸Ribbit - Statistics</title>
        <style>
            .container {
                margin: 2rem;
            }
        </style>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
        />
    </head>
    <body>
        {{template "partials/header"}}
        <main class="container">
            <section>
                <h2>Stats</h2>
                <p><strong>Long URL:</strong> {{.LongUrl}}</p>
                <p>
                    <strong>Short URL:</strong>
                    <a href="{{.ShortUrl}}" target="_blank">{{.ShortUrl}}</a>
                </p>
                <p><strong>Short ID:</strong> {{.ShortId}}</p>
                <p><strong>Clicks:</strong> {{.Clicks}}</p>
                <p><strong>Created At:</strong> {{.CreatedAt}}</p>
            </section>
            <div>
                <a
                    href="http://127.0.0.1:3000/stats/{{.ShortId}}"
                    target="_self"
                    >♻️Refresh this page</a
                >
            </div>
            <br />
            <p>
                <i
                    >Disclaimer: Clicks is incremented on each click, and does
                    not store any of your data. This means it can't tell when
                    someone is spam clicking, so don't always trust a link with
                    a lot of clicks.</i
                >
            </p>
        </main>
    </body>
</html>
